.dark-bg.module,
.blue-bg.module {
  color: #fff;
  padding: 25px;
}
.dark-bg.module h3,
.blue-bg.module h3 {
  font-size: 16px;
  text-transform: uppercase;
  border-bottom: 1px dashed #fff;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.dark-bg.module h4,
.blue-bg.module h4 {
  font-size: 16px;
}
.dark-bg.module p.ph-no,
.blue-bg.module p.ph-no {
  font-weight: 700;
}
.dark-bg.module h3,
.blue-bg.module h3,
.dark-bg.module p,
.blue-bg.module p {
  color: #fff;
}
.dark-bg.module h4,
.blue-bg.module h4 {
  color: #999999;
}
.dark-bg.module {
  background: #333333;
}
.blue-bg.module {
  background: #00acbd;
}
.t3-module {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .t3-module {
    margin-bottom: 30px;
  }
}
.t3-module .module-inner {
  padding: 0;
}
.module-title {
  background: transparent;
  color: inherit;
  font-size: 18px;
  margin: 0 0 10px 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .module-title {
    margin-bottom: 20px;
  }
}
.module-ct {
  background: transparent;
  color: inherit;
  padding: 0;
}
.module-ct:before,
.module-ct:after {
  content: " ";
  display: table;
}
.module-ct:after {
  clear: both;
}
.module-ct > ul,
.module-ct .custom > ul,
.module-ct > ol,
.module-ct .custom > ol {
  margin-left: 20px;
  padding-left: 0;
}
.module-ct > ul.unstyled,
.module-ct .custom > ul.unstyled,
.module-ct > ol.unstyled,
.module-ct .custom > ol.unstyled {
  padding-left: 0;
}
.module-ct > ul.nav,
.module-ct .custom > ul.nav,
.module-ct > ol.nav,
.module-ct .custom > ol.nav {
  padding-left: 0;
  margin-left: 0;
}
.module_menu .nav > li > a,
.module_menu .nav > li > .separator {
  padding: 6px 5px;
  display: block;
}
#login-form input[type="text"],
#login-form input[type="password"] {
  width: 100%;
}
#login-form ul.unstyled {
  margin-top: 20px;
  padding-left: 20px;
}
#login-form #form-login-remember label {
  font-weight: normal;
}
.banneritem a {
  font-weight: bold;
}
.bannerfooter {
  border-top: 1px solid #eeeeee;
  font-size: 12px;
  padding-top: 10px;
  text-align: right;
}
.categories-module,
ul.categories-module,
.category-module,
ul.category-module {
  margin: 0;
}
.categories-module li,
ul.categories-module li,
.category-module li,
ul.category-module li {
  list-style: none;
  padding: 10px 0;
  border-top: 1px solid #eeeeee;
}
.categories-module li:first-child,
ul.categories-module li:first-child,
.category-module li:first-child,
ul.category-module li:first-child {
  border-top: 0;
}
.categories-module h4,
ul.categories-module h4,
.category-module h4,
ul.category-module h4 {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.feed h4 {
  font-weight: bold;
}
.feed .newsfeed,
.feed ul.newsfeed {
  border-top: 1px solid #eeeeee;
}
.feed .newsfeed .feed-link,
.feed ul.newsfeed .feed-link,
.feed .newsfeed h5.feed-link,
.feed ul.newsfeed h5.feed-link {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.latestusers,
ul.latestusers {
  margin-left: 0;
}
.latestusers li,
ul.latestusers li {
  background: #eeeeee;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 4px;
}
.stats-module dt,
.stats-module dd {
  display: inline-block;
  margin: 0;
}
.stats-module dt {
  font-weight: bold;
  width: 35%;
}
.stats-module dd {
  width: 60%;
}
.tagspopular ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.tagspopular ul li a {
  color: #999;
  text-transform: capitalize;
  float: left;
  display: block;
  margin: 2px;
  padding: 6px 15px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #e5e5e5;
  -webkit-transition: 350ms;
  -moz-transition: 350ms;
  -o-transition: 350ms;
  transition: 350ms;
}
.tagspopular ul li a:hover {
  background: #fc5a0a;
  color: #fff;
}
.tagssimilar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tagssimilar ul > li {
  border-bottom: 1px solid #eeeeee;
  padding: 8px 0;
}
.tagssimilar ul > li > a {
  color: #555555;
}
.tagssimilar ul > li > a:hover,
.tagssimilar ul > li > a:focus,
.tagssimilar ul > li > a:active {
  color: #b73e02;
}
.module-ct > ol.breadcrumb {
  padding: 6px 12px;
  margin-left: 0;
}